:root {
  /* Colors */
  --primary-midnight-green: #014e56;
  --primary-light-coral: #f67e7e;
  --primary-white: #fff;
  --secondary-repture-blue: #79c8c7;
  --secondary-police-blue: #2c6269;
  --secondary-deep-jungle-green: #004047;
  --secondary-secramento-state-green: #012f34;
  --secondary-dark-green: #002529;
}
/* Fonts */

@font-face {
  font-family: "Livvic";
  src: url("/fonts/Livvic-SemiBold.woff2") format("woff2"),
    url("/fonts/Livvic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("/fonts/Livvic-Bold.woff2") format("woff2"),
    url("/fonts/Livvic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Livvic";
  src: url("/fonts/Livvic-MediumItalic.woff2") format("woff2"),
    url("/fonts/Livvic-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 3px dashed #000;
  outline-offset: 3px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Livvic", "Arial", sans-serif;
  background-color: var(--primary-midnight-green);
  color: var(--primary-white);
}

/* Headings and font styles */

.h1lg {
  font-size: 10rem;
  line-height: 10rem;
  font-weight: bold;
}
.h1sm {
  font-size: 6.4rem;
  line-height: 5.6rem;
  font-weight: bold;
}
.h2heading {
  font-size: 4.8rem;
  line-height: 4.8rem;
  font-weight: bold;
}
.h3heading {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: bold;
}
.plg {
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 600;
}
.psm {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 600;
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1210px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  padding: 9px 33px 11px 32px;
  font-size: 18px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  transition: all 0.3s;
}
.btn-light {
  background-color: var(--secondary-secramento-state-green);
  color: var(--primary-white);
}
.btn-light:hover {
  color: var(--secondary-secramento-state-green);
  background-color: var(--primary-white);
}
.btn-light:disabled {
  opacity: 0.8;
}
.btn-dark {
  border: 2px solid var(--secondary-secramento-state-green);
  color: var(--secondary-secramento-state-green);
  background-color: var(--primary-white);
}
.btn-dark:hover {
  background-color: var(--secondary-secramento-state-green);
  color: var(--primary-white);
}
.btn-dark:disabled {
  opacity: 0.8;
}

.header {
  padding-top: 73px;
  padding-bottom: 30px;
}
.header-inner {
  display: flex;
  align-items: center;
}
.logo-wrapper {
  margin-right: 80px;
}
.logo-img {
  display: block;
  width: 169px;
  height: 49px;
}
.navbar {
}
.nav-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.nav-item:not(:last-child) {
  margin-right: 40px;
}
.nav-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: var(--primary-white);
}
.nav-link:hover {
  color: var(--primary-light-coral);
}
.contacts-batton {
  margin-left: auto;
}
.hero-btn {
  text-decoration: none;
  background-color: var(--primary-midnight-green);
}
/* Main */
.main-content {
  flex-grow: 1;
}
/* Hero section */

.hero {
  padding-top: 100px;
  padding-bottom: 250px;
  background-image: url(/img/hero-circle-red.svg),
    url(/img/hero-circle-dark.svg);
  background-repeat: no-repeat no-repeat;
  background-position: bottom -25% right calc(50% - 400px),
    left calc(50% - 700px) top 100px;
}
.hero-inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.hero-left {
  max-width: 635px;
  margin-right: 30px;
}
.hero-heading {
  margin: 0;
}
.spotted-text {
  color: var(--primary-light-coral);
}
.hero-right {
  max-width: 445px;
}
.hero-right::before {
  content: " ";
  width: 50px;
  height: 4px;
  background-color: var(--secondary-repture-blue);
  display: flex;
  position: absolute;
  top: 0;
}
.hero-text {
  margin: 0;
}

/* Features section */
.features {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--secondary-secramento-state-green);
  background-image: url(/img//clients-circle.svg);
  background-repeat: no-repeat;
  background-position: bottom right calc(50% - 700px);
}
.features-inner {
  display: flex;
  position: relative;
}
.features-left-side {
  width: 445px;
  margin-right: 125px;
}
.features-left-side::before {
  content: " ";
  width: 50px;
  height: 4px;
  background-color: var(--primary-light-coral);
  display: flex;
  position: absolute;
  top: -54px;
}
.features-heading {
  margin: 0;
}
.features-box-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.feature-box {
  width: 540px;
  display: flex;
  align-items: flex-start;
}
.feature-box:not(:last-child) {
  margin-bottom: 32px;
}
.feature-img {
  display: block;
  width: 72px;
  height: 72px;
  margin-right: 23px;
}
.feature-list-text {
}
.feature-heading {
  margin: 0;
  margin-bottom: 16px;
  color: var(--primary-light-coral);
}
.feature-paragraph {
  margin: 0;
  opacity: 0.8;
}

/* Reviews section */
.reviews-section {
  padding-top: 140px;
  padding-bottom: 150px;
  background-color: var(--secondary-deep-jungle-green);
  background-image: url(/img/reviews-bg-right.svg),
    url(/img/reviews-bg-left.svg);
  background-repeat: no-repeat no-repeat;
  background-position: bottom -20% right calc(50% - 600px),
    left calc(50% - 650px) top;
}
.reviews-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-heading {
  text-align: center;
  width: 932px;
  margin: 0;
  margin-bottom: 92px;
}
.reviews-spotted-text {
  color: var(--secondary-repture-blue);
}
.reviews-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;
  margin: 0;
  position: relative;
}

.reviews-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reviews-list-item:not(:last-child) {
  margin-right: 30px;
}
.reviews-list-item::before {
  content: " ";
  width: 67px;
  height: 56px;
  background-image: url(/img/icon-quotes.svg);
  display: flex;
  position: absolute;
  top: -35px;
  z-index: 1;
}
.reviewer-feedback-text {
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
  z-index: 10;
}
.reviewer-name {
  margin: 0;
  margin-bottom: 2px;
  color: var(--secondary-repture-blue);
}
.reviewer-job {
  margin-bottom: 32px;
  font-weight: 500;
  font-style: italic;
  font-size: 13px;
  line-height: 18px;
}
.reviwer-avatar {
  border-radius: 50%;
  border: 2px solid #c4fffe;
}
.cta-section {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--primary-light-coral);
  background-image: url(/img/cta-bg.svg);
  background-repeat: no-repeat;
  background-position: left calc(50% - 600px) bottom -100px;
}
.cta-flex {
  display: flex;
  justify-content: center;
}
.cta-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 917px;
}
.cta-heading {
  color: var(--secondary-secramento-state-green);
  margin: 0;
}
.btn-cta {
  border: 2px solid #012f34;
  color: var(--secondary-secramento-state-green);
  text-decoration: none;
  transition: all 0.3s;
}
.btn-cta:hover {
  background-color: var(--secondary-secramento-state-green);
  color: var(--primary-white);
}

/* Footer */
.footer {
  background-color: var(--secondary-dark-green);
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-inner {
  display: flex;
  align-items: center;
}
.footer-logo-nav {
  margin-right: 125px;
}
.footer-logo-wrapper {
  margin-bottom: 25px;
}
.address-wrapper {
}
.address {
  font-weight: 600;
  line-height: 25px;
  font-size: 15px;
  opacity: 0.6;
  letter-spacing: 2px;
  color: var(--primary-white);
}
.contact-number {
  color: var(--primary-white);
  text-decoration: none;
  opacity: 0.6;
  letter-spacing: 2px;
}
.media-links-copyright {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.media-sites-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 50px;
}
.media-list-item:not(:last-child) {
  margin-right: 16px;
}
.media-icon-link {
  color: var(--primary-white);
}
.media-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: var(--primary-white);
}

.media-icon:hover {
  fill: var(--primary-light-coral);
}
.copyright-text {
  color: var(--primary-white);
  opacity: 0.6;
}
